/* #drinks, #under-21 {
  display: none;
} */
body {
  background-color: black;
  margin: 20px;
  padding: 20px;
  border: solid white;
  color: white;
}

#over5, #under5, #over7 {
  display: none;
}

h2 {
  font-style: oblique;
  color: red;
  text-align: center;
}